@import "../../globalvariables";
.root {
	padding-top: 100px;
	color: $col6;
}

.displayroot {
	display: flex;
	.searchroot {
		border-style: none solid none none;
		border-color: $col3;
		padding: 10px;
		position: sticky;
		top: 72px;
		align-self: flex-start;
		height: calc(100vh - 100px);
	}
	.searchrootopen {
		.searchtitle {
			display: flex;
			justify-content: space-between;
		}
		position: sticky;
		width: 200px;
	}
	.searchrootclosed {
		position: sticky;
		width: 20px;
	}
	.itemdisplayroot {
		flex-grow: 1;
		width: calc(100% - 220px);
	}
}
